name: Run Vader Tests

on:
  push:

jobs:
  run-tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1  
    - name: CWD
      run: |
    - name: Install Vader
      run: |
        rm -rf vader.vim 
        git clone https://github.com/junegunn/vader.vim.git vader.vim
    - name: Run Tests
      run: |
        vim -Nu <(cat << VIMRC
        filetype off
        set rtp+=vader.vim
        set rtp+=.
        set rtp+=after
        filetype plugin indent on
        syntax enable
        let g:pandoc#wiki#dirs = ['~/test/data/wiki']
        VIMRC) -c 'Vader! test/tests.vader' > /dev/null
